<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>AP-VKAUTO</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="wrapper">
    <div id="option-acc">
        <div id="option">
            <form method="post" action="/" id="optionF">
                <label for="timeoutAll">
                    <span>Время задержки между каждым действием бота. В секундах!</span>
                    <input name="timeoutAll" id="timeoutAll" type="number" value="<%= option.global.timeoutAll %>">
                </label>
                <label for="timeoutImportant">
                    <span>Важные задержки</span>
                    <input name="timeoutImportant" id="timeoutImportant" type="number"
                           value="<%= option.global.timeoutImportant %>">
                </label>
                <label for="timeoutWaitSms">
                    <span>Время ожидания смс</span>
                    <input name="timeoutWaitSms" id="timeoutWaitSms" type="number"
                           value="<%= option.global.timeoutWaitSms %>">
                </label>
                <label for="tryTime">
                    <span>Время каждой попытки</span>
                    <input name="tryTime" id="tryTime" type="number" value="<%= option.global.tryTime %>">
                </label>
                <hr>
                <label for="proxy">
                    <span>Путь к файлу с прокси</span>
                    <input name="proxy" id="proxy" type="text" value="<%= option.global.proxy %>">
                </label>
                <label for="proxyCount">
                    <span>Количество попыток на 1 прокси</span>
                    <input name="proxyCount" id="proxyCount" type="number"
                           value="<%= option.global.proxyCount %>">
                </label>
                <hr>
                <label for="userAgent">
                    <span>Путь к файлу с юзерагентами</span>
                    <input name="userAgent" id="userAgent" type="text" value="<%= option.global.userAgent %>">
                </label>
                <label for="userAgentCount">
                    <span>Количество юзерагентов в файле</span>
                    <input name="userAgentCount" id="userAgentCount" type="number"
                           value="<%= option.global.userAgentCount %>">
                </label>
                <hr>
                <label for="firstName">
                    <span>Путь к файлу с именами</span>
                    <input name="firstName" id="firstName" type="text" value="<%= option.global.firstName %>">
                </label>
                <label for="firstNameCount">
                    <span>Количество имён в файле</span>
                    <input name="firstNameCount" id="firstNameCount" type="number"
                           value="<%= option.global.firstNameCount %>">
                </label>
                <hr>
                <label for="lastName">
                    <span>Путь к файлу с фамилиями</span>
                    <input name="lastName" id="lastName" type="text" value="<%= option.global.lastName %>">
                </label>
                <label for="lastNameCount">
                    <span>Количество фамилий в файле</span>
                    <input name="lastNameCount" id="lastNameCount" type="number"
                           value="<%= option.global.lastNameCount %>">
                </label>

                <button onclick="">Сохранить</button>
            </form>
        </div>
        <%

                    %>
        <div id="acc">
            <form method="post" id="try">
                <label for="tryCount">
                    <span>Количество попыток</span>
                    <input name="tryCount" id="tryCount" type="number">
                </label>

                <button id="startB" onclick="">Начать</button>
            </form>


            <div id="process">
                <img id="loader" src="RespectfulBelovedArachnid-small.gif">
                <span id="done">0</span>
            </div>
            <div id="lastProcess">
                <span>Последний результат</span>
                <span id="lastDone">0</span>
            </div>


        </div>
    </div>
    <div id="logs">
        <span id="log"></span>

    </div>
    <form id="logDownload" action="" method="post">
        <a href="/performance.log" target="_blank">Download log</a>
        <a href="/accs.json" target="_blank">Download accs.json</a>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="jquery.min.js"></script>
<script>
    $(function () {

        let loader = document.getElementById('loader');

        let socket = io();
        let tryCount = $('#tryCount'),
            tryTime = $('#tryTime');

        $('#try').submit(function (e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('tryFormSend', [tryCount.val(), tryTime.val()]);
            return false;
        });

        let timeoutAll = $('#timeoutAll'),
            timeoutImportant = $('#timeoutImportant'),
            timeoutWaitSms = $('#timeoutWaitSms'),
            proxy = $('#proxy'),
            proxyCount = $('#proxyCount'),
            userAgent = $('#userAgent'),
            userAgentCount = $('#userAgentCount'),
            firstName = $('#firstName'),
            firstNameCount = $('#firstNameCount'),
            lastName = $('#lastName'),
            lastNameCount = $('#lastNameCount');

        $('#optionF').submit(function (e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('optionFormSend',
                [
                    timeoutAll.val(),
                    timeoutImportant.val(),
                    timeoutWaitSms.val(),
                    tryTime.val(),
                    proxy.val(),
                    proxyCount.val(),
                    userAgent.val(),
                    userAgentCount.val(),
                    firstName.val(),
                    firstNameCount.val(),
                    lastName.val(),
                    lastNameCount.val()
                ]);
            // id.val('');
            return false;
        });

        socket.on('logs', function (log) {


            let doneCount = 0;
            let arr = [];

            let arrReverse = log.split('\n').reverse();

            arrReverse.forEach(function call(item) {
                if (item.indexOf('Регистрация прошла успешно!') !== -1) {
                    doneCount++;
                }
            });

            document.getElementById('done').innerHTML = doneCount.toString();
            $('#log').html('<pre>' + arrReverse.join('\n') + '</pre>');
        });

        let process = document.getElementById('process');
        socket.on('RunFunc', function (enable) {

            //
            $(function startB() {
                document.getElementById('startB').onclick = function () {

                    process.style.display = 'flex';
                };
            });
            if (enable === true) {
                loader.style.display = 'block';
            } else {
                loader.style.display = 'none';
            }

        });

    });
</script>

</body>
</html>