*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
div{
    /*border: solid 1px black;*/
}

label{
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    margin: 5px 10px;

}

/*label span{*/
    /*margin: 5px 0;*/
/*}*/
label input{
    width: 200px;
}

input[type=number]{
    width: 60px;
}

/*hr{*/
    /*margin: 5px 0;*/
/*}*/

.wrapper{
    width: 1200px;
    margin: 0 auto;

    height: 95vh;
    display: flex;
    flex-direction: column;
}

#option-acc{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

#logs{
    width: 100%;
    height: 25%;
    overflow: auto;
    border: solid 1px black;
}

#option{
    width: 50%;
    height: 100%;
    border-right: solid 1px black;

}

#option form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#acc{
    width: 50%;
    height: 100%;
}

#acc form{
    width: 100%;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
}

img{
    width: 90px;
    height: 50px;
}

#process{
    display: flex;
    flex-direction: row;
}
#process span{
    font-size: 24px;
    margin: auto 5px;
}

#lastProcess{
    display: none;
    flex-direction: row;
}

#lastProcess span{
    font-size: 24px;
    margin: auto 5px;
}

#error{
    color: red;
}

#done{
    color: green;
}

#stop{
    margin: 10px;
    width: 60px;
}